h1 {
    font-size: 3em;
    margin-bottom: 5px;
    font-weight: bold;
    color: red;
}
h2 {
    text-align: center;
    font-size: 2em;
    font-family: Verdana; 
    color: white;
}
p {
    text-align: left;
    font-size: 1em;
    color: white;
}
th {
    padding: 10px;
}
td {
    padding: 10px;
    border: 1px solid white;
    color: white;
}
